openapi: 3.0.3
info:
  title: 'Parteasy - API DOC'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.parteasy.testing.on-code.net'
paths:
  /api/attachment/uploadPhoto:
    post:
      summary: UploadPhoto
      description: "Upload photo to specific model\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: multipart/form-data
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Attachment
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                type_id:
                  type: integer
                  description: ''
                  example: 3
                type:
                  type: string
                  description: 'Must be one of <code>Event</code>, <code>Location</code>, or <code>Rider</code>.'
                  example: Event
                file:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 5120 kilobytes.'
              required:
                - type_id
                - type
                - file
  /api/attachment/getPhotosUrl:
    post:
      summary: GetPhoto
      description: "Get photo to specific model\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Attachment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type_id:
                  type: integer
                  description: ''
                  example: 2
                type:
                  type: string
                  description: 'Must be one of <code>Event</code>, <code>Location</code>, <code>Rider</code>, or <code>TicketTier</code>.'
                  example: Event
              required:
                - type_id
                - type
  '/api/attachment/deletePhoto/{uuid}':
    get:
      summary: UploadPhoto
      description: "Upload photo to specific model\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Attachment
    parameters:
      -
        in: path
        name: uuid
        description: 'Attachment id to search for'
        example: 8d079b21-6511-4ff7-a6a9-0a4e04698f29
        required: true
        schema:
          type: string
  /api/backoffice/status:
    get:
      summary: AdminAppStatus
      description: "Health check with extra information for admin\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        503:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '404'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '404'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice
  /api/backoffice/debugBecomeAdmin:
    get:
      summary: DebugBecomeAdmin
      description: "Upgrades the calling user role to Admin. TO DISABLE WHEN IN PRODUCTION\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice
  /api/backoffice/activation/team/toggle:
    post:
      summary: ToggleTeamActivation
      description: "Toggles wether a Team is active or not\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Activation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 1
                active:
                  type: boolean
                  description: ''
                  example: true
              required:
                - id
                - active
  /api/backoffice/activation/ncc-team/toggle:
    post:
      summary: ToggleNccTeamActivation
      description: "Toggles wether a NccTeam is active or not\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Activation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 1
                active:
                  type: boolean
                  description: ''
                  example: true
              required:
                - id
                - active
  /api/backoffice/activation/location/toggle:
    post:
      summary: ToggleLocationActivation
      description: "Toggles wether a Location is active or not\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Activation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 1
                active:
                  type: boolean
                  description: ''
                  example: true
                external_location_id:
                  type: integer
                  description: ''
                  example: 34
              required:
                - id
                - active
  /api/backoffice/activation/rider/toggle:
    post:
      summary: ToggleRiderActivation
      description: "Toggles wether a Rider is active or not\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Activation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 1
                active:
                  type: boolean
                  description: ''
                  example: true
              required:
                - id
                - active
  /api/backoffice/activation/vehicle/toggle:
    post:
      summary: ToggleVehicleActivation
      description: "Toggles wether a Vehicle is active or not\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Activation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 1
                active:
                  type: boolean
                  description: ''
                  example: true
              required:
                - id
                - active
  '/api/backoffice/activation/get/{activable}':
    get:
      summary: GetActivables
      description: "Views all of viewables having the specified type and activation\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Activation
    parameters:
      -
        in: path
        name: activable
        description: 'Activable_type to search for'
        example: Location
        required: true
        schema:
          type: string
      -
        in: path
        name: active
        description: 'Optional parameter. bool optional Activable state to search for'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 'false'
  '/api/backoffice/activation/get/{activable}/{active}':
    get:
      summary: GetActivables
      description: "Views all of viewables having the specified type and activation\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Activation
    parameters:
      -
        in: path
        name: activable
        description: 'Activable_type to search for'
        example: Location
        required: true
        schema:
          type: string
      -
        in: path
        name: active
        description: 'Optional parameter. bool optional Activable state to search for'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 'false'
  /api/backoffice/configuration:
    get:
      summary: GetConfigurationValues
      description: "Shows all DB configuratable Configurations\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Backoffice.Configuration
  /api/backoffice/configuration/set:
    post:
      summary: EditConfiguration
      description: "Edits the specified configuration variable. Can only called by Admin\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 64 characters.'
                  example: Invoicing.FeePayment
                value:
                  type: string
                  description: 'Must not be greater than 128 characters.'
                  example: '0.90'
                edit_reason:
                  type: string
                  description: ''
                  example: test
              required:
                - name
                - value
                - edit_reason
  '/api/backoffice/event/get/{event_id}':
    get:
      summary: GetEventAdmin
      description: "Shows specified Event. Calling user must be admin\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Backoffice.Event
    parameters:
      -
        in: path
        name: event_id
        description: 'Event id to search for'
        example: 1
        required: true
        schema:
          type: integer
  /api/backoffice/event/validator/external/list:
    get:
      summary: GetExternalValidatorEvents
      description: "Shows to be processed by ExternalValidator Events\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Backoffice.Event
  /api/backoffice/event/validator/external/process:
    post:
      summary: EventExternalValidatorSetStatus
      description: "Chnages the event status. Team and Location needs to be active. Can only be changed by External Validator User\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 1
                action:
                  type: string
                  description: 'Must be one of <code>Approve</code>, <code>Publish</code>, or <code>Reject</code> Must not be greater than 16 characters.'
                  example: Approve
                external_event_id:
                  type: integer
                  description: ''
                  example: 34
              required:
                - id
                - action
  /api/backoffice/invoice/view:
    post:
      summary: GetInvoicesAdmin
      description: "Views all Users invoices with filters.\n\nAbort operation"
      parameters:
        -
          in: query
          name: user_id
          description: ''
          example: 1
          required: false
          schema:
            type: integer
            description: ''
            example: 1
        -
          in: query
          name: party_id
          description: ''
          example: 1
          required: false
          schema:
            type: integer
            description: ''
            example: 1
        -
          in: query
          name: state
          description: 'Must be one of <code>Actualized</code>, <code>Cancelled</code>, <code>Draft</code>, <code>Paid</code>, or <code>Refounded</code>.'
          example: Paid
          required: false
          schema:
            type: string
            description: 'Must be one of <code>Actualized</code>, <code>Cancelled</code>, <code>Draft</code>, <code>Paid</code>, or <code>Refounded</code>.'
            example: Paid
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            text/plain:
              schema:
                type: string
                example: '{"status": "200", "message": "Success"}}'
      tags:
        - Backoffice.Invoice
  '/api/backoffice/nccteam/get/{nccTeam}':
    get:
      summary: GetNccTeamAdmin
      description: "Shows specified NccTeam. Calling user must be admin\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Backoffice.NccTeam
    parameters:
      -
        in: path
        name: nccTeam
        description: ''
        example: officia
        required: true
        schema:
          type: string
      -
        in: path
        name: ncc_team_id
        description: 'Team id to search for'
        example: 1
        required: true
        schema:
          type: integer
  /api/backoffice/nccteam/create:
    post:
      summary: CreateNccTeam
      description: "Creates a NccTeam. Calling user becomes Owner of this NccTeam\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data:
                    id: 1
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 1
                    description: Data
      tags:
        - Backoffice.NccTeam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must contain only letters, numbers, dashes and underscores. Must not be greater than 64 characters.'
                  example: villa-33e3
                description:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: VillaTest
                company_country:
                  type: string
                  description: 'Must not be greater than 2 characters.'
                  example: IT
                company_fiscal_code:
                  type: string
                  description: 'Must not be greater than 64 characters.'
                  example: FNTJSN82R01C436C
                company_tax_code:
                  type: string
                  description: 'Must not be greater than 64 characters.'
                  example: '31710440640'
                owner_user_id:
                  type: integer
                  description: ''
                  example: 1
              required:
                - name
                - company_country
                - company_fiscal_code
                - company_tax_code
                - owner_user_id
  '/api/backoffice/report/get/{report_id}':
    get:
      summary: GetReport
      description: "Views a Report. Can only called by Validator\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Report
    parameters:
      -
        in: path
        name: report_id
        description: 'Report id to search for'
        example: 1
        required: true
        schema:
          type: integer
  /api/backoffice/report/list/validated:
    post:
      summary: GetReviewedReports
      description: "Shows reports. Has filters to get only already validated, to validate and by Reporter, ReportableEntity and ReportableAct\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Backoffice.Report
  /api/backoffice/report/search:
    post:
      summary: SearchReports
      description: "Shows reports. Has filters to get only already validated, to validate and by Reporter, ReportableEntity and ReportableAct\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Backoffice.Report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reviewed:
                  type: boolean
                  description: ''
                  example: false
                by:
                  type: string
                  description: 'Must be one of <code>Reporter</code>, <code>Reported</code>, or <code>Act</code>.'
                  example: Reporter
                model:
                  type: string
                  description: 'Must be one of <code>User</code>, <code>Rider</code>, <code>Ride</code>, <code>Team</code>, <code>Location</code>, <code>Event</code>, or <code>Party</code>.'
                  example: User
                model_id:
                  type: integer
                  description: ''
                  example: 1
              required:
                - by
  /api/backoffice/report/validator/list:
    get:
      summary: GetValidatorReports
      description: "Shows reports to review. Calling user must be Validator\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Backoffice.Report
  /api/backoffice/report/validator/process:
    post:
      summary: ReportValidatorReview
      description: "Used by the Validator to review a not already reviewed report\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 1
                reviewer_note:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'Review di esempio'
              required:
                - id
                - reviewer_note
  /api/backoffice/report/validator/delete:
    post:
      summary: DeleteReport
      description: "Deletes a Report. Can only called by Validator\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 1
              required:
                - id
  /api/backoffice/review/validator/list:
    get:
      summary: GetValidatorReviews
      description: "Shows to be processed by ExternalValidator Events\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Backoffice.Review
  /api/backoffice/review/validator/process:
    post:
      summary: ReviewValidatorSetStatus
      description: "Used by the reviewer to approve, hide, archive or delete reviews\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 1
                action:
                  type: string
                  description: 'Must be one of <code>Approve</code>, <code>Hide</code>, <code>Archive</code>, or <code>Delete</code> Must not be greater than 16 characters.'
                  example: Approve
              required:
                - id
                - action
  /api/backoffice/tag/list:
    get:
      summary: TagAdminList
      description: "Lists all tags. Calling user must be admin\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Tag
    parameters:
      -
        in: path
        name: tag_id
        description: 'Tag id to search for'
        example: 1
        required: true
        schema:
          type: integer
  /api/backoffice/tag/create:
    post:
      summary: TagCreate
      description: "Creates a tag on the specified taggable\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 32 characters.'
                  example: Concert
                taggable_type:
                  type: string
                  description: 'Must be one of <code>Event</code> Must not be greater than 32 characters.'
                  example: Event
              required:
                - name
                - taggable_type
  '/api/backoffice/tag/delete/{tag_id}':
    post:
      summary: TagDelete
      description: "Deletes a tag on the specified taggable\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Tag
    parameters:
      -
        in: path
        name: tag_id
        description: 'Tag id to search for'
        example: 1
        required: true
        schema:
          type: integer
  '/api/backoffice/team/get/{team_id}':
    get:
      summary: GetTeamAdmin
      description: "Shows specified Team. Calling user must be admin\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Backoffice.Team
    parameters:
      -
        in: path
        name: team_id
        description: 'Team id to search for'
        example: 1
        required: true
        schema:
          type: integer
  /api/backoffice/ticket/ticket/tier/validator/external/set:
    post:
      summary: TicketTierExternalValidatorSetInfo
      description: "Sets external information on the specified ticketTier. Team and Location needs to be active. Can only be changed by External Validator User\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.TicketTier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ''
                  example: 1
                external_ticket_tier_id:
                  type: integer
                  description: ''
                  example: 34
              required:
                - id
                - external_ticket_tier_id
  '/api/backoffice/transport/rider/get/{rider_user_id}':
    get:
      summary: GetRiderAdmin
      description: "Shows specified rider. Calling user must be admin\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Backoffice.Transport
    parameters:
      -
        in: path
        name: rider_user_id
        description: 'The ID of the rider user.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: user_id
        description: 'Rider id to search for'
        example: 1
        required: true
        schema:
          type: integer
  /api/backoffice/transport/rider/list:
    get:
      summary: RidersAdminList
      description: "Lists all Riders. Calling user must be admin\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Transport
  /api/backoffice/transport/vehicle/delete:
    post:
      summary: TransportDeleteVehicle
      description: "Deletes specified vehicle. Calling user must be Admin.\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Transport
  /api/backoffice/transport/vehicle-type/create:
    post:
      summary: TransportCreateVehicleType
      description: "Deletes specified vehicle. Calling user must be Admin.\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.Transport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must contain only letters and numbers. Must not be greater than 64 characters.'
                  example: Bus
                title:
                  type: string
                  description: 'Must contain only letters and numbers. Must not be greater than 128 characters.'
                  example: rdxumfd
              required:
                - name
                - title
  '/api/backoffice/user/get/{user_id}':
    get:
      summary: AdminGetUser
      description: "Finds a user by user id. Calling user must be admin\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.User
    parameters:
      -
        in: path
        name: user_id
        description: 'Optional parameter. optional User id to look for'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
  '/api/backoffice/user/delete/{user_id}':
    get:
      summary: AdminDeleteUser
      description: "Deletes a user by user id. Calling user must be admin\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.User
    parameters:
      -
        in: path
        name: user_id
        description: 'Optional parameter. optional User id to look for'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
  /api/backoffice/user/list:
    get:
      summary: UsersAdminList
      description: "Lists all Users. Calling user must be admin\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.User
  /api/backoffice/user/role/add:
    post:
      summary: AdminAddRole
      description: "Adds the specified role to the specified user.\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ''
                  example: 1
                role:
                  type: string
                  description: 'Must be one of <code>Taxi</code>, <code>Validator</code>, or <code>ExternalValidator</code> Must not be greater than 32 characters.'
                  example: Validator
              required:
                - user_id
                - role
  /api/backoffice/user/role/remove:
    post:
      summary: AdminRemoveRole
      description: "Removes the specified role from the specified user.\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
      tags:
        - Backoffice.User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ''
                  example: 1
                role:
                  type: string
                  description: 'Must be one of <code>Taxi</code>, <code>Validator</code>, or <code>ExternalValidator</code> Must not be greater than 32 characters.'
                  example: Validator
              required:
                - user_id
                - role
  /api/event/search:
    post:
      summary: SearchEvents
      description: "Shows public event filtered by optional arguments\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: evento
                tags:
                  type: array
                  description: 'Must be one of <code>House music</code>, <code>Techno</code>, <code>Reggaeton</code>, <code>Trap</code>, <code>Hip hop</code>, <code>Live music</code>, <code>Rock music</code>, <code>Musica Italiana</code>, or <code>Pop</code> Must be at least 1 characters. Must not be greater than 64 characters.'
                  example:
                    - Live
                  items:
                    type: string
                latitude:
                  type: string
                  description: Latitude
                  example: '0.443'
                longitude:
                  type: string
                  description: Longitude
                  example: '23.443'
                radius:
                  type: number
                  description: 'Must be between 1 and 300000.'
                  example: 10000.0
                when:
                  type: string
                  description: 'Must be a valid date. Must be a date after or equal to <code>today</code>.'
                  example: 09/25/22
              required:
                - latitude
                - longitude
    parameters:
      -
        in: path
        name: event_id
        description: 'Event id to search for'
        example: 1
        required: true
        schema:
          type: integer
  /api/event/view/live:
    get:
      summary: GetPublicEvents
      description: "Shows all available events in all locations\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Event
  /api/event/view/suggested:
    get:
      summary: getPublicSuggestedEvents
      description: "Shows all available events in location\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Event
  '/api/event/view/live/location/{location_id}':
    get:
      summary: GetPublicEventsInLocation
      description: "Shows all available events in location\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Event
    parameters:
      -
        in: path
        name: location_id
        description: 'Location id to search for'
        example: 1
        required: true
        schema:
          type: integer
  '/api/event/view/{event_id}':
    get:
      summary: GetPublicEvent
      description: "Shows specified event if public\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        403:
          description: 'Not available'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '403'
                  message: Error
                properties:
                  status:
                    type: string
                    example: '403'
                  message:
                    type: string
                    example: Error
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  status: '200'
                  message: Success
                  data: {  }
                properties:
                  status:
                    type: string
                    example: '200'
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example: {  }
                    description: Data
      tags:
        - Event
    parameters:
      -
        in: path
        name: event_id
        description: 'Event id to search for'
        example: 1
        required: true
        schema:
          type: integer
  '/api/event/view/private/team/{team_id}/{event_id}':
    get:
      summary: GetEvent
      description: "Shows specified event for Team Owner only\n\nAbort operation"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
[...]
